.animal {
    display: flex;
    justify-content: center;
}

.animal__container {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.animal__description {
    margin: 50px 0;
    text-align: justify;
    width: 100%;
}